<% if @ride.completed? %>
  <%= link_to "Your trip has ended! Write a Review", new_ride_review_path(@ride), class: "btn btn-primary btn-block" %>
<% else %>
  <div id="trip-in-progress">
    <%= "Your trip is in progress..." %>
  </div>
<% end %>
