
<div class="index margin-from-navbar">
	<h1 style="text-align: center">Requests</h1>
	
	</div>

	 <div class="destination">
	 	
		<% @requests.each do |request| %>
		   <div class="location">
				<h5>Pick-up location:</h5>
        <p><%= request.starting_location %></p>
				<h5>Destination:</h5>
        <p><%= request.ending_location %></p>
				<div class="details">
				<h5><%= link_to 'Details', request_path(request), class: "btn" %></h5>
				</div>
			</div>
		 <% end %>



		<br>
		
	 </div>
</div>
