<h1>List of pick-ups to choose from</h1>

<% @requests.each do |request| %>
<p>Pick up - <%= request.starting_location %></p>
<p>Destination - <%= request.ending_location %></p>
<%= link_to 'Accept', request_path(request) %>
<% end %>
<br>
<%= link_to 'Back', root_path %>
