
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c0.wallpaperflare.com/preview/756/536/953/empty-street-with-lights-during-nighttime.jpg)">
  <div class="acontainerthree">
    
  <div class="frase">
    <!-- <p>Choose to get home:</p> -->
  </div>
   <div class="zz">
    <div class="status">
      <%=link_to "Passenger", new_request_path, class: "btn btn-outline-primary btn-lg btn-block" %>
    </div>


    <div class="status">
       <%= link_to "Driver", requests_path, class: "btn btn-outline-primary btn-lg btn-block"  %>
     </div>
   </div>

  </div>
</div>

<div class="intro">
    <h2>How does it work?</h2>
  </div>
    <div class="row remove-gutter">
    <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>1. REGISTER:</strong></h5>
      <p style="text-align: center">Register your personal and vehicle details to your GetHome account.</p>
    </div>
   <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>2. CHOOSE A STATUS:</strong></h5>
      <p style="text-align: center">Choose if you are a passenger that needs to be taken home or if you are one of our volunteer drivers.</p>
    </div>
    <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>3. GET HOME:</strong></h5>
      <p style="text-align: center">Enter your current location and your home address and be taken home by one of our trusted drivers.</p>
    </div>
  </div>

<div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3459398/pexels-photo-3459398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
  <div id="quote">
    <h2 style="text-align: center">
      <strong>"When the fun is over, let us get you home"</strong></h2>
  </div>
</div>

  <div class="intro">
    <h2>Why choose GetHome?</h2>
  </div>

    <div class="row remove-gutter">
    <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>TRUSTED SERVICE</strong></h5>
          <p style="text-align: center">24/7 customer service</p>
          <p style="text-align: center">Fully comprehensive insurance for your car</p>
          <p style="text-align: center">Extensive background checks carried out on all our drivers</p>

    </div>
   <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>IT'S FREE</strong></h5>
          <p style="text-align: center">A free service</p>
          <p style="text-align: center">Drivers are volunteers</p>
          <p style="text-align: center">Subsidised by government</p>
    </div>
  <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>TRAVEL SAFETY</strong></h5>
          <p style="text-align: center">Ensure everyone gets home safely</p>
          <p style="text-align: center">Track your journey</p>
          <p style="text-align: center"> All drivers issued with ID cards to be sure you're riding with our trusted GetHome team</p>
    </div>
</div>


