
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c0.wallpaperflare.com/preview/756/536/953/empty-street-with-lights-during-nighttime.jpg)">
  <div class="acontainerthree">
  <div class="frase">
    <p>Choose a Status</p>
  </div>
   <div class="zz">
    <div class="status">
      <%=link_to new_request_path, class: "btn" do %>
          <div>
           <h1 class="user">Passenger</h1>
          </div>
      <% end %>
    </div>


    <div class="status">
       <%= link_to requests_path,  class: "btn" do  %>
         <div>
          <h1 class="user">Driver</h1>
         </div>
       <% end %>
     </div>
   </div>

  </div>
</div>


  <div class="intro">
    <h2>Why choose GetHome?</h2>
  </div>

    <div class="row">
    <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>TRUSTED SERVICE</strong></h5>
        <ul>
          <li>24/7 customer service</li>
          <li>Fully comprehensive insurance for your car</li>
          <li>Drivers CRB Checked</li>
        </ul>
    </div>
   <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>IT'S FREE</strong></h5>
        <ul>
          <li>A free service</li>
          <li>Drivers are volunteers</li>
          <li>Subserdised by government</li>
        </ul>
    </div>
  <div class="col-sm-4">
      <h5 style="text-align: center">
        <strong>TRAVEL SAFETY</strong></h5>
        <ul>
          <li>Ensure everyone gets home safely</li>
          <li>Track your journey</li>
          <li>ID cards to be sure your riding with our trusted GetHome team</li>
        </ul>
    </div>
</div>

  <div class="intro">
    <h2>How does it work?</h2>
  </div>
    <div class="row">
    <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>1. Register:</strong></h5>
      <p style="text-align: center">Register your personal and vehicle details to your GetHome account.</p>
    </div>
   <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>2. Choose identity:</strong></h5>
      <p style="text-align: center">Choose if you are a passenger that needs to be taken home or if you are one of our volunteer drivers.</p>
    </div>
    <div class="col-sm-4">
      <h5 style="text-align: center">
      <strong>3. Get home:</strong></h5>
      <p style="text-align: center">Enter your current location and your home address and be taken home by one of our trusted drivers.</p>
    </div>
  </div>

