.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #FFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: white solid 2px;
}

.navbar-lewagon #navbarDropdown {
  // border: white solid 2px;
  margin-bottom:10px;
  margin-right: 10px;
  font-size: 20px;
  color: black;
}

.navbar-lewagon .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-lewagon .nav-item .nav-link:hover {
  color: white;
}

.title .titlebtn {
  color: white;
  text-decoration: none;
}

.title .titlebtn:hover {

  color: white;
}


.img {
  height: 70px;
  width: 95px;
}

.navbar .navbar-toggler {
  background: white;
  border-radius: 10px;

}
.title {
  font-family: $headers-font;
  color: black;
  font-size: 30px;
  padding-top: 7px;
  p{
    font-family: "Questrial";
    display: inline-block;
    content: "\f018";
    font-weight: 900;
    vertical-align: middle;
  }
   // i{
   //  color: black;
   //  padding-top: 7px; 
   //  text-decoration: none;
   // }
  a{
    display: flex;
    color: black;
    text-decoration: none;
  }
}
.white {
  color: white !important;

}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}
.margin-from-navbar {
  margin-top: 4rem;
}
