.navbar-lewagon {
  justify-content: space-between;
  background: #003151;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  color: #95C8D8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #95C8D8 solid 2px;
}

.navbar-lewagon #navbarDropdown {
  border: #95C8D8 solid 2px;
}

.navbar-lewagon .nav-item .nav-link {
  color: #95C8D8;
  text-decoration: none;
}

.navbar-lewagon .nav-item .nav-link:hover {
  color: white;
}

.title .titlebtn {
  color: #95C8D8;
  text-decoration: none;
}

.title .titlebtn:hover {
  color: white;
}
