.navbar-lewagon {
  justify-content: space-between;
  background: #2B2D42;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #FFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: white solid 2px;
}

.navbar-lewagon #navbarDropdown {
  border: white solid 2px;
}

.navbar-lewagon .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-lewagon .nav-item .nav-link:hover {
  color: white;
}

.title .titlebtn {
  color: white;
  text-decoration: none;
}

.title .titlebtn:hover {
  color: white;
}


.img {
  height: 70px;
  width: 95px;
}

.navbar .navbar-toggler {
  background: white;
  border-radius: 10px;

}
