<h1>Trip Details</h1>

<% @rides.each do |ride| %>
<%= ride.user.first_name %>
<%= link_to "Review Your Driver", new_ride_review_path(ride) %>

<% end %>

<!-- <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%#= @markers.to_json %>"
     data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"></div> -->
