<h1>The Journey Home</h1>



<% if @ride.user == current_user %>
  <%= link_to "Journey completed", ride_path(@ride), method: :put %>
<% else %>
  <% if @ride.completed? %>
    <%= link_to "Write a Review", new_ride_review_path(@ride) %>
  <% end %>
<% end %>
